<div class="section-header" >
  <%= @title %>
</div>
<div style="height: 75vh; width: 100%;overflow-y: auto;">
  <table style="width: 100%;">
    <tr style="background-color: silver; font-size: 1.5em;font-weight:bold;color: #000000;line-height: 2em;">
      <th style="padding-left: 1vw;text-align: left;">New Registration</th>
      <th style="text-align: center;">Male</th>
      <th style="text-align: center;">Female</th>
    </tr>
    <tr style="font-size: 1.5em;line-height: 2em;">
      <td style="padding-left: 1vw;text-align: left;">Paediatrics</td>
      <td style="text-align: center;"><%= @new_patients[:paediatric][:M] %></td>
      <td style="text-align: center;"><%= @new_patients[:paediatric][:F] %></td>
    </tr>
    <tr style="font-size: 1.5em;line-height: 2em;">
      <td style="padding-left: 1vw;text-align: left;">Adults</td>
      <td style="text-align: center;"><%= @new_patients[:adult][:M] %></td>
      <td style="text-align: center;"><%= @new_patients[:adult][:F] %></td>
    </tr>
    <tr style="font-size: 1.5em;line-height: 2em;">
      <td style="padding-left: 1vw;text-align: left;font-weight:bold;">Total</td>
      <td style="text-align: center;"><%= @new_patients[:paediatric][:M] + @new_patients[:adult][:M]%></td>
      <td style="text-align: center;"><%= @new_patients[:paediatric][:F] + @new_patients[:adult][:F]%></td>
    </tr>
    <tr style="background-color: silver; font-size: 1.5em;font-weight:bold;color: #000000;line-height: 2em;">
      <th style="padding-left: 1vw;text-align: left;">Returning Patients</th>
      <th style="text-align: center;">Male</th>
      <th style="text-align: center;">Female</th>
    </tr>
    <tr style="font-size: 1.5em;line-height: 2em;">
      <td style="padding-left: 1vw;text-align: left;">Paediatrics</td>
      <td style="text-align: center;"><%= @old_patients[:paediatric][:M] %></td>
      <td style="text-align: center;"><%= @old_patients[:paediatric][:F] %></td>
    </tr>
    <tr style="font-size: 1.5em;line-height: 2em;">
      <td style="padding-left: 1vw;text-align: left;">Adults</td>
      <td style="text-align: center;"><%= @old_patients[:adult][:M] %></td>
      <td style="text-align: center;"><%= @old_patients[:adult][:F] %></td>
    </tr>
    <tr style="font-size: 1.5em;line-height: 2em;">
      <td style="padding-left: 1vw;text-align: left;font-weight:bold;">Total</td>
      <td style="text-align: center;"><%= @old_patients[:paediatric][:M] + @old_patients[:adult][:M]%></td>
      <td style="text-align: center;"><%= @old_patients[:paediatric][:F] + @old_patients[:adult][:F]%></td>
    </tr>
    <tr style="background-color: silver; font-size: 1.5em;font-weight:bold;color: #000000;line-height: 2em;">
      <th style="padding-left: 1vw;text-align: left;">Summary</th>
      <th style="text-align: center;">Male</th>
      <th style="text-align: center;">Female</th>
    </tr>
    <tr style="font-size: 1.5em;line-height: 2em;">
      <td style="padding-left: 1vw;text-align: left;">All Patients</td>
      <td style="text-align: center;"><%= @summary['M'] %></td>
      <td style="text-align: center;"><%= @summary['F'] %></td>
    </tr>
    <tr style="font-size: 1.5em;line-height: 2.5em;background-color: #CCCC99;">
      <td style="padding-left: 1vw;text-align: left;font-weight:bold;">Total</td>
      <td colspan="2" style="padding-left: 1vw;text-align: center;"><%= @summary['M'] + @summary['F'] %></td>
    </tr>
  </table>
</div>
<div class="footer">
  <button class="green" style="float: right;" onmousedown="window.location='/'">Finish</button>
</div>
