<% title "Patient Dashboard" %>
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content" style="width: 50vw !important;">
    <div style="width: 100%; text-align: center;background-color: #CCCCCC;height: 10vh;padding-top: 3px;">
      <h3>Bill Payment</h3>
      <span class="close" onmousedown="hideModal();">&times;</span>
      <%= form_for :order_payments, :method => "POST", :url => order_payments_path do |f|%>
          <%= hidden_field_tag "creator", current_user.id %>
          <%= hidden_field_tag "order_payment[amount]", 0 %>
          <%= hidden_field_tag "order_payment[patient_id]", @patient.id %>
          <%= hidden_field_tag "order_payment[location]", current_location.name %>
      <% end %>
    </div>
    <div style="display: table;">
      <div style="display: table-row;">
        <div style="display: table-cell;background-color:#eeeeee;width:15vw;">
          <table style="width: 100%; font-size: 1.5em; line-height: 2em" >
            <tr>
              <td>Entered Amount</td>
              <th id="paying" style="text-align: left;width: 20%;">0.00</th>
            </tr>
            <tr>
              <td>Amount Due</td>
              <th  style="text-align: left;width: 20%;color: darkred;"><%= number_to_currency(@amount_due, precision: 2)%></th>
            </tr>
            <tr>
              <td>Change</td>
              <th id="change" style="text-align: left;width: 20%;color: darkgreen;">0.00</th>
            </tr>
          </table>
          <div class = "link-button submit-link" style="width: 12vw !important;margin-left: auto;margin-right: auto" onmousedown="submitPayment()">
            Pay
          </div>
        </div>
        <div style="display: table-cell; border: 1px inset black;width: 35vw;">
          <div style="margin-top: 5px;">
            <table width="100" cellspacing="15" >
              <tr>
                <td class="customButton" onmousedown="append(1);"><span>1</span></td>
                <td class="customButton" onmousedown="append(2);"><span>2</span></td>
                <td class="customButton" onmousedown="append(3);"><span>3</span></td>
              </tr>
              <tr>
                <td class="customButton" onmousedown="append(4);"><span>4</span></td>
                <td class="customButton" onmousedown="append(5);"><span>5</span></td>
                <td class="customButton" onmousedown="append(6);"><span>6</span></td>
              </tr>
              <tr>
                <td class="customButton" onmousedown="append(7);"><span>7</span></td>
                <td class="customButton" onmousedown="append(8);"><span>8</span></td>
                <td class="customButton" onmousedown="append(9);"><span>9</span></td>
              </tr>
              <tr>
                <td class="customButton" onmousedown="append(0);"><span>0</span></td>
                <td class="customButton" ><span>&nbsp;</span></td>
                <td class="customButton" onmousedown="append('del');"><span>del</span></td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="header" style="height: 15vh; width:98vw;margin-top:1vh; margin-left: auto;margin-right: auto;">
  <div style="display: table-row">
    <div class="header-cell" style="display: table-cell; width:98vw;vertical-align: middle;height: 15vh;">
      <div style="display: table;width: 98%;margin-left: auto;margin-right: auto;">
        <div style="display: table-cell; width: 10%;margin-left: auto;margin-right: auto;">
          <div class="<%=@patient.sex.downcase%>">
            <img src="/assets/<%=@patient.sex.downcase%>.png">
          </div>
        </div>
        <div style="display: table-cell; width: 90%;margin-left: auto;margin-right: auto;vertical-align: middle;">
          <div style="display: table;width: 98%;margin-left: auto;margin-right: auto;">
            <div style="display: table-row; ">
              <div class="header-content-cell"><b>Name</b></div>
              <div class="header-content-cell" style="width: 45%;"><%= @patient.full_name %></div>
              <div class="header-content-cell"><b>Age</b></div>
              <div class="header-content-cell"><%= @patient.person.display_age %></div>
            </div>
            <div style="display: table-row; ">
              <div class="header-content-cell"><b>National ID</b></div>
              <div class="header-content-cell"><%= @patient.national_id %></div>
              <div class="header-content-cell"><b>Health insurance</b></div>
              <div class="header-content-cell"><%= @patient.health_insurance %></div>
            </div>
            <div style="display: table-row; ">
              <div class="header-content-cell"><b>Residence</b></div>
              <div class="header-content-cell"><%= @patient.current_address %></div>
              <div class="header-content-cell">&nbsp;</div>
              <div class="header-content-cell">&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="main" style="height: 70vh;">

  <div style="display: table-row;width: 100%">
    <div id="today" class="tab-active" style="display: table-cell" onmousedown="toggleTab(this)">Today</div>
    <div id="pastVisits" class="tab" style="display: table-cell" onmousedown="toggleTab(this)">Past Transactions</div>
    <div id="others" class="tab" style="display: table-cell" onmousedown="toggleTab(this)">Others</div>
  </div>

  <div id="todayTab" class="tab-content" >
    <table class="dashboard-main" border="2">
      <thead>
      <tr>
        <th style="text-align: left;">Item</th>
        <th style="text-align: left;">Quantity</th>
        <th>Amount</th>
      </tr>
      </thead>
      <tbody>
      <% (@today_orders || []).each do |order| %>
          <tr>
            <th><%= order.description %></th>
            <th><%= order.quantity %></th>
            <td style=""><%= number_to_currency(order.full_price) %></td>
          </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr>
        <th>&nbsp;</th>
        <th>Total</th>
        <th><%= number_to_currency(@total) %></th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th style="color: green">Amount Paid</th>
        <th style="color: green"><%= number_to_currency(@today_payments) %></th>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <th style="color: darkred">Amount Due</th>
        <th style="color: darkred"><%= number_to_currency(@amount_due) %></th>
      </tr>
      </tfoot>
    </table>
  </div>
  <div id="pastVisitsTab" class="tab-content invisible">
    <div style="margin: 3vh auto;width: 98%;">
      <% (@history.keys || []).each do |day| %>
          <div style="border: 1px solid #000000; margin-bottom:8px;">
            <div class="collapsible-summary">
              <span style="width: 30%;"><b><%= day %></b></span>
              [ <span style="width: 30%;">Total Bill: <%= number_to_currency @history[day]["summary"]["bill"]%></span>,
                <span style="width: 30%;">Amount Paid: <%= number_to_currency @history[day]["summary"]["paid"]%></span>,
                <span style="width: 30%;">Balance : <%= number_to_currency((@history[day]["summary"]["bill"] - @history[day]["summary"]["paid"])) %></span>]
            </div>
            <div class="collapsible-content">
              <% (@history[day]["details"].each_slice(2).to_a || []).each do |order| %>
                  <div style="display: table-row;">
                    <div style="display: table-cell;width:44vw;float: left;">
                      <div style="border: 1px solid gray; padding: 3px;margin: 3px;">
                        <div style="display: table;width: 100%;">
                          <div style="display: table-row;">
                            <div style="display: table-cell;padding: 5px;">
                              <b>Item:</b> <%= order[0][:service] %><br/>
                              <b>QTY:</b> <%= order[0][:quantity] %><br/>
                              <b>Amount:</b> <%= order[0][:price] %><br/>
                              <b>Status:</b> <%= order[0][:status] %><br/>
                            </div>
                            <div style="display: table-cell;vertical-align: middle;padding: 5px;">
                              <img style="float: right;" src="/assets/delete.png" title="Void Item">
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <% unless order[1].blank? %>
                        <div style="display: table-cell;width:44vw;float: right;">
                          <div style="border: 1px solid gray; padding: 3px;margin: 3px;">
                            <div style="display: table;width: 100%;">
                              <div style="display: table-row;">
                                <div style="display: table-cell;padding: 5px;">
                                  <b>Item:</b> <%= order[1][:service] %><br/>
                                  <b>QTY:</b> <%= order[1][:quantity] %><br/>
                                  <b>Amount:</b> <%= order[1][:price] %><br/>
                                  <b>Status:</b> <%= order[0][:status] %><br/>
                                </div>
                                <div style="display: table-cell;vertical-align: middle;padding: 5px;">
                                  <img style="float: right;" src="/assets/delete.png" title="Void Item">
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                    <% end %>
                  </div>
              <% end %>
            </div>
          </div>
      <%end%>

      <% if @history.blank? %>
        <h2>No past transactions</h2>
      <% end %>
    </div>
  </div>
  <div id="othersTab" class="tab-content invisible">
    <div style="display: table;margin: 3vh auto">
      <div style="display: table-row;">
        <div style="display: table-cell">
          <div class = "link-button" onmousedown="window.location='/'">
            Add Medical Scheme
          </div>
        </div>
        <div style="display: table-cell">
          <div class = "link-button" onmousedown="window.location='/'">
            Edit Demographics
          </div>
        </div>
        <div style="display: table-cell">
          <div class = "link-button" onmousedown="window.location='/patients/print_national_id?patient_id=<%= @patient.id%>'">
            Print National ID
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <button class="green" style="float: right;" onmousedown="window.location='/'">Finish</button>
  <button style="float: right;" onmousedown="window.location='/patients/<%= @patient.id%>/order_entries/new'">Add Transaction</button>
  <%if  @amount_due > 0 %>
    <button id="myBtn" style="float: right;" onmousedown="showModal()">Pay Bill</button>
  <% end %>
</div>

<script>
    var bill = <%= @amount_due %>;
    var modal = document.getElementById('myModal');
    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }

    function append(key){
        var input = document.getElementById("paying");
        var change = document.getElementById("change");
        var amount = document.getElementById("order_payment_amount");

        if(input.innerHTML.trim() == "0.00")
        {
            if (key != "del")
            {
                input.innerHTML = parseFloat(key).toFixed(2);
            }
        }
        else
        {
            if (key != "del")
            {
                input.innerHTML = parseFloat(parseInt(input.innerHTML).toString().trim() + key).toFixed(2);
            }
            else
            {
                var temp = parseInt(input.innerHTML).toString().trim();
                temp = parseFloat(temp.substring(0,temp.length-1)).toFixed(2)
                input.innerHTML = (temp == "NaN" ? "0.00" : temp)
            }
        }

        var actual_change = parseFloat(input.innerHTML) - parseFloat(bill);
        change.innerHTML = (actual_change > 0 ? actual_change : "0.00")
        amount.value = input.innerHTML;
    }

    function submitPayment(){
        document.forms[0].submit();
    }
    initializeCollapsibles();
</script>